.start{
	-fx-border-color: rgb(0,0,0);
	-fx-background-repeat: no-repeat ;
	-fx-background-size: stretch;
}

.learn{
	-fx-background-image: url(/pictures/learn.png);
}
.practice{
	-fx-background-image: url(/pictures/practice.png);
}
.combine{
	-fx-background-image: url(/pictures/combine.png);
}
.glass{
	-fx-background-image: url(/pictures/startBack.png);
	-fx-background-position: center ;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: stretch ;
}
.abel{
	-fx-font-weight: bold;
	-fx-text-fill: rgb(0,0,255);
	-fx-background-color: white;
	-fx-font-family: serif;
	-fx-border-radius: 50%;
	-fx-background-radius: 100;
	
}